<%= form_for [@show, @episode] do |f| %>
<%= hidden_field_tag "episode[genre_ids][]", nil %>

	<div class="field">
		<%= f.label :title, class: "username-password" %>
		<%= f.text_field :title, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label :description, class: "username-password"  %>
		<%= f.text_area :description, rows: "5", cols: "50", class: "field-input"%>
	</div>

	<div class="field">
		<%= f.label :air_date, class: "username-password"  %>
		<%= f.date_field :air_date, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label "episode image", class: "username-password" %>
		<%= f.file_field :avatar, class: "field-input" %>
	</div>

	<div class="field">
	  <%= f.label "Select genre", class: "username-password" %>
	  <div class="select-box">
			<%= f.collection_check_boxes(:genre_ids, Genre.all.order('name ASC'), :id, :name) do |genre| %>
		    <%= genre.label class: "label-checkbox" do%>
		     <%= genre.check_box + genre.text %>
		    <%end%>
		  <% end %>
	  </div>
  </div>

  <div class="field">
    <%= f.label "or create new genre", class: "username-password" %>
    <%= f.fields_for :genres, @episode.genres.build do |genre_fields| %>
    	<%= genre_fields.text_field :name %>
    <% end %>
  </div>
	
	<div class="actions" style="margin-top:10px;">
		<%= f.submit %>
	</div>
<% end %>