<div class="explore-search">
	<%= search_form_for @explore, url: explore_url do |f| %>
	  <% @genres.each do |genre| %>
	  	<span class="genre-explore-label">
	    	<%= check_box_tag 'q[genres_name_cont_any][]', genre.name %>
	    	<%= genre.name %>
	    </span>
	  <% end %>
	  <%= f.submit "Search", style: "margin-top:10px", name: "submit_check" %>
	<% end %>
</div>

<div class="exlore-results">
	<% if params[:submit_check] %>
		<ul>
			<% @explore_results.explore_order.each do |episode| %>
				<%= link_to show_episode_path(episode.show, episode) do %>
					<li class="fav-show-card">
						<%= image_tag episode.avatar.url(:medium) %>
						<p class="episode-title"><%= episode.title %></p>
					</li>
				<%end%>
			<% end %>
		</ul>
	<% end %>
</div>
