<%= render 'shared/header' %>

<nav>
  <%= render 'shared/nav' %>
</nav>

<% if current_user.try(:admin?) %>
  <%= link_to "Edit Episode", edit_show_episode_path(@show, @episode) %>
  <%= link_to "Delete Episode", show_episode_path(@show, @episode), method: :delete %>
<% end %><br>

<h3><%= @episode.title %> </h3> <p><%= @episode.air_date %></p>
<h4><%= @episode.description %> </h4>

<%= image_tag @episode.avatar.url(:thumb) %> <br>

<p>see all from: <%= link_to @episode.show.title, show_path(@episode.show) %></p>

<% if current_user.favorites.include?(@episode) %>
  <%= link_to "unfavorite", favorite_show_episode_path(@episode, type: "unfavorite"), method: :put %>
  <% else %>
  <%= link_to "favorite", favorite_show_episode_path(@episode, type: "favorite"), method: :put %>
<% end %>

<ul>
	<p>Favorited by:</p>
	<% @episode.favorited_by.each do |user| %>
		<li><%= link_to user.username, user_path(user) %></li>
	<% end %>
</ul>

<p>Add a comment:</p>
<%= form_for ([@show, @episode, Comment.new]) do |f| %>
  <%= f.hidden_field :episode_id, value: @episode.id %>

  <%= f.text_area :content, rows: "4", cols: "50" %><br>
  <%= f.submit %>
<% end %>

<h3>Comments:</h3>
<ul>
  <% @episode.comments.each do |comment| %>
  <li><%= link_to comment.user.username, user_path(comment.user) %> says: <%= comment.content %></li>
  <% end %>
</ul>


