
<p class="episode-date"><%= @episode.air_date.strftime("%b %d, %Y")%></p>

<p class="episode-title-page"><b><%= @episode.title %></b></p> 
<div class="episode-admin-action">
  <% if current_user.try(:admin?) %>
    <div class="admin-action">
      <span><i class="material-icons">mode_edit</i></span><%= link_to "Edit Episode", edit_show_episode_path(@show, @episode) %>
    </div>
    <div class="admin-action">
      <span><i class="material-icons">remove_circle_outline</i></span><%= link_to "Delete Episode", show_episode_path(@show, @episode), method: :delete %>
    </div>
  <% end %>
</div>


<%= image_tag @episode.avatar.url(:xl) %> <br>

<div>
  <div class="player">
    <p style="font-size:9pt; text-transform:uppercase;">audio player goes here</p>
  </div>

  <%=link_to show_path(@episode.show) do %>
    <div class="see-all">
      <p>see more</p>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.favorites.include?(@episode) %>
      <%= link_to favorite_show_episode_path(@episode, type: "unfavorite"), method: :put do %>
        <div class="favorite-button">
          <p>favorited</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to favorite_show_episode_path(@episode, type: "favorite"), method: :put do %>
        <div class="favorite-button">
          <p>favorite</p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="favorite-button">
        <p>favorite</p>
      </div>
    <% end %>
  <% end %>
</div>

<p class="episode-description"><%= @episode.description %> </p>


<p class="episode-functions">favorited by</p>
  <ul>
  	<% @episode.favorited_by.each do |user| %>
      <%= link_to user_path(user) do%>
        <li class="user-avatar">
          <%= image_tag user.avatar.url(:thumb) %>
        </li>
  		<% end %>
  	<% end %>
  </ul>

<p id="comment-section" class="episode-functions">comments</p>

<% if user_signed_in? %>
  <div class="comment-avatar">
    <%= image_tag current_user.avatar.url(:thumb) %>
  </div>
    <%= form_for ([@show, @episode, Comment.new]) do |f| %>
      <%= f.hidden_field :episode_id, value: @episode.id %>

      <%= f.text_area :content, rows: "5", cols: "50", placeholder: "Add a comment..." %><br>
      <div class="comment-submit"><%= f.submit %></div>
    <% end %>
<% else %>
  <%= link_to "Login to add a comment", new_user_session_path %>
<% end %>

<br><br>
<ul>
  <% @episode.comments.order(created_at: :desc).each do |comment| %>
  <li class="comment-section">
    <div style="display:inline">
    <%= link_to user_path(comment.user) do %>
      <%= image_tag comment.user.avatar.url(:thumb) %>
    <% end %>
    </div>
    <div class="comment-wrap">
      <div class="comment-user-row">
        <span class="comment-username">
          <%= link_to comment.user.username, user_path(comment.user) %>
        </span> 
        <span class="comment-date">
          <%= comment.created_at.strftime("%b %d, %Y") %>
        </span>
      </div><br>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<div style="height:100px"></div>
