<h1>This is <%= @user.username %> (<%= @user.email %>) user page</h1>

<p><%= @user.username %> favorite episodes:</p>
<ul>
	<% @user.favorites.each do |fav| %>
		<li><%= fav.title %></li>
	<% end %>
</ul>

<p>comments:</p>
<ul>
	<% @user.comments.each do |c| %>
		<li><%= c.content %> on <%= c.episode.title %></li>
	<% end %>
</ul>