<div class="radio-header">
	<%= link_to(root_path) do %>
		<%= image_tag 'radio-icon.svg', class: "radio" %>
	<% end %>

	<div class="login" style="float:right">
		<% if user_signed_in? %>
			<ul>		
				<li class="username-header">
					<%= link_to current_user.username, user_path(current_user) %>
				</li>			
				<li>
					<%= link_to "log out", destroy_user_session_path, method: :delete, class: "login-register-button" %>
				</li>
			</ul>
		<% else %>
			<%= link_to "Login", new_user_session_path, class: "login-register-button" %>
			<%= link_to "Register", new_user_registration_path, class: "login-register-button" %>
		<% end %>
	</div>
</div>