<h1>Welcome to Rails Radio</h1>
<% if current_user.try(:admin?) %>
		<p>Welcome ADMIN <%=current_user.username%></p>
<% else %>
	<% if user_signed_in? %>
		<p>Welcome <%=current_user.username%></p>
	<% end %>
<% end %>

<nav>
	<ul>
		<% unless user_signed_in? %>
			<li><%= link_to "Login", new_user_session_path, class: "button" %></li>
			<li><%= link_to "Register", new_user_registration_path, class: "button" %></li>
			<li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
		<% else %>
			<li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button" %></li>
		<% end %>
	</ul>
</nav>