<div class="section-recommends">
	<p>Rails Radio recommends</p>
	<ul>
		<% @admin.each do |admin| %>
			<% admin.favorites.each do |fav| %>
				<%= link_to show_episode_path(fav.show, fav) do %>
					<li class="fav-show-card">
						<%= image_tag fav.avatar.url(:medium) %>
						<p><%= fav.title %></p>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

<div class="section" style="clear:both">
	<p>recently aired</p>
	<% @episodes.order(created_at: :desc).each do |episode| %>
		<li><%= link_to episode.title, show_episode_path(episode.show, episode) %></li>
	<% end %>
</div>

<div class="section">
	<p>popular episodes</p>
	<% Episode.sorted_by_most_popular.each do |episode| %>
	  <div><%= link_to episode.title, show_episode_path(episode.show, episode) %></div>
	<% end %>
</div>