<div class="section-recommends">
	<p class="section-title">Rails Radio recommends</p>
	<ul>
		<% @admin.each do |admin| %>
			<% admin.favorites.order(created_at: :desc).first(6).each do |fav| %>
				<%= link_to show_episode_path(fav.show, fav) do %>
					<li class="fav-show-card">
						<%= image_tag fav.avatar.url(:medium) %>
						<p class="episode-title"><%= fav.title %></p>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

<div class="section-recent">
	<p class="section-title">recently aired</p>
	<ul>
		<% @episodes.order(created_at: :desc).each do |episode| %>
			<%= link_to show_episode_path(episode.show, episode) do %>
				<li class="thumb-show-card">
					<%= image_tag episode.avatar.url(:thumb) %>
					<p class="episode-title"><%= episode.title %></p>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<div class="section-popular">
	<p class="section-title">popular episodes</p>
	<ul>
		<% Episode.sorted_by_most_popular.each do |episode| %>
	  	<%= link_to show_episode_path(episode.show, episode) do %>
		  	<li class="thumb-show-card">
		  		<%= image_tag episode.avatar.url(:thumb) %>
		  		<p class="episode-title"><%= episode.title %></p>
		  	</li>
		  <% end %>
		<% end %>
	</ul>
</div>

<div style="height:100px; clear:both;"></div>