<%= form_for @show do |f| %>
<div class="field">
		<%= f.label :title, class: "username-password" %>
		<%= f.text_field :title, class: "field-input" %>
	</div>

	<div class="field">	
		<%= f.label :description, class: "username-password" %>
		<%= f.text_area :description, rows: "5", cols: "50", class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label :location, class: "username-password" %>
		<%= f.text_field :location, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label "show image", class: "username-password" %>
		<%= f.file_field :avatar, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label "external url", class: "username-password" %>
		<%= f.text_field :link, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label :twitter, class: "username-password" %>
		<%= f.text_field :twitter, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label :facebook, class: "username-password" %>
		<%= f.text_field :facebook, class: "field-input" %>
	</div>

	<div class="field">
		<%= f.label :soundcloud, class: "username-password" %>
		<%= f.text_field :soundcloud, class: "field-input" %>					
	</div>

	<div class="actions" style="margin-top:10px;">
		<%= f.submit %>
	</div>
<% end %>