<h3>Show page for <%= @show.title %></h3>

<p><%= @show.description %></p>

<% @show.episodes.each do |episode| %>
	<%= link_to episode.title, show_episode_path(@show.slug, episode.slug) %>
<% end %>

<% if @show.twitter.present? %>
	<%= link_to(@show.twitter) do %>
		<%= image_tag 'Twitter_Logo_Blue.svg', style: 'height:30px; width:auto;' %>
	<% end %>
<% end %>

<% if @show.facebook.present? %>
	<%= link_to(@show.twitter) do %>
		<%= image_tag 'Twitter_Logo_Blue.svg', style: 'height:30px; width:auto;' %>
	<% end %>
<% end %>