<div id="show-profile">
	<div class="show-img"><%= image_tag @show.avatar.url(:large) %></div>

	<div class="show-about">
		<p class="show-location"><%= @show.location %></p>
		<p class="section-title"><%= @show.title %></p>
		<p class="section-description"><%= @show.description %></p>

		<div id="show-about-bottom">
			<div class="socials">
				<% if @show.twitter.present? %>
					<%= link_to(@show.twitter) do %>
						<%= image_tag 'twitter.svg', style: 'height:17px; width:auto; margin-bottom: -3px;' %>
					<% end %>
				<% end %>

				<% if @show.facebook.present? %>
					<%= link_to(@show.facebook, style: 'text-decoration:none;') do %>
						<%= image_tag 'flogo-RGB-HEX-Blk-58.svg', style: 'height:13px; width:auto; text-decoration:none;' %>
					<% end %>
				<% end %>

				<% if @show.soundcloud.present? %>
					<%= link_to(@show.soundcloud, style: 'text-decoration:none;') do %>
						<%= image_tag 'soundcloud_logo-01.svg', style: 'height:11px; width:auto; text-decoration:none;' %>
					<% end %>
				<% end %>

				<% if @show.link.present? %>
					<%= link_to(@show.link, style: 'text-decoration:none;') do %>
						<%= image_tag 'icons8-link-50.png', style: 'height:13px; width:auto; text-decoration:none;' %>
					<% end %>
				<% end %>
			</div>

			<div class="show-admin">
				<% if current_user.try(:admin?) %>	
					<div class="admin-action"><span><i id="delete" class="material-icons">remove_circle_outline</i></span><%= link_to "Delete Show", @show, method: :delete, data: { confirm: 'Are you sure?' } %></div>
					<div class="admin-action"><span><i id="edit" class="material-icons">mode_edit</i></span><%= link_to "Edit Show", edit_show_path(@show) %></div>
					<div class="admin-action"><span><i id="add" class="material-icons">add_circle_outline</i></span><%= link_to "Add new Episode", new_show_episode_path(@show) %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="section-episodes" >
	<ul>
		<% @show.episodes.each do |episode| %>
			<%= link_to show_episode_path(@show, episode) do %>
				<li class="fav-show-card">
					<%= image_tag episode.avatar.url(:medium) %>
					<p class="episode-title"><%= episode.title %></p>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<br>