<% if current_user.try(:admin?) %>
	<%= link_to "Edit Show", edit_show_path(@show) %>
	<%= link_to "Delete Show", show_episode_path(@show), method: :delete %>
	<%= link_to "Add new Episode", new_show_episode_path(@show) %>
<% end %>

<h3>Show page for <%= @show.title %></h3>

<p><%= @show.description %></p>

<%= image_tag @show.avatar.url(:medium) %> <br>

<% if @show.twitter.present? %>
	<%= link_to(@show.twitter) do %>
		<%= image_tag 'Twitter_Logo_Blue.svg', style: 'height:30px; width:auto;' %>
	<% end %>
<% end %>

<% if @show.soundcloud.present? %>
	<%= link_to(@show.soundcloud, style: 'text-decoration:none;') do %>
		<%= image_tag 'soundcloud_logo-01.svg', style: 'height:10px; width:auto; text-decoration:none;' %>
	<% end %>
<% end %>
<br>

<% @show.episodes.each do |episode| %>
	<%= link_to episode.title, show_episode_path(@show, episode) %>
<% end %>


<br>