<!DOCTYPE html>
<html>
  <head>
    <title>RailsRadio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="wide-header">
      <div class="section-header">
        <%= render 'shared/header' %>
      </div>
      <div class="section-nav">
        <%= render 'shared/nav' %>
      </div>
    </div>

    <div class="main">
      <%= render "shared/alerts" %>
      <%= yield %>
    </div>

  </body>
</html>
